# Created by .ignore support plugin (hsz.mobi)
/Google-Docs.iml
/.idea/
/Docs.iml
/WebContent/js/angular/
/WebContent/js/angular-websocket/
/WebContent/js/bootstrap/
/WebContent/js/angular-editer/
/WebContent/js/jquery/
